[server]
headless = true
port = 8501
enableCORS = false
enableXsrfProtection = false

[browser]
gatherUsageStats = false

[email]
host = "smtp.gmail.com"
port = 587
user = "seu_email@gmail.com"
from = "seu_email@gmail.com"
password = "sua_senha_app_aqui"
recipient = "email_destinatario@gmail.com"
